*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 7rem;
  grid-template-areas: "one two";
}
.one{
  grid-area: one;
}
.two{
  position: relative;
  grid-area: two;
}
.svg{
  width: 50%;
  height: 90%;
  background-color: #F7F5FA;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 8rem;
  z-index: -1;
}
.inner{
  width: 62%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 18rem 0;
}
.im{
  width: 100%;
  height: auto;
}
.i{
  font-weight: 700;
  font-family: Rubik;
  font-size: 2.5rem;
  color: hsl(271, 36%, 24%);
}
.ii{
  margin-top: 1.5rem;
  font-family: Rubik;
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(270, 7%, 64%);
}
.one{
  position: relative;
}
.lol{
  width: 55%;
  height: 84%;
  background:linear-gradient(to bottom left,#CE41FF,#BD40FE,#AF3DFF,#973BFE);
  border-bottom-right-radius: 8.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.ol{
  width: 55%;
  height: 100%;
  z-index: 101;
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  place-items: center;
}
.mob{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: 0 10px 24px hsl(0deg 0% 0% / 5%), 0 20px 48px hsl(0deg 0% 0% / 5%), 0 1px 4px hsl(0deg 0% 0% / 10%);
}
.klo{
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 2rem;
  background-color: #fff;
  z-index: 102;
  border-radius: 0 0 1rem 1rem;
}
.mobi{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #f5f3f8;
}
.oj{
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 1rem 1rem 5px 5px;
  background: linear-gradient(to top right,#8d3afe,#ae3fff,#bf40ff,#cc41ff,#da42ff);
  padding: 1.8rem 0.2rem 0.5rem;
  display: flex;
  align-items: center;
}
.a{
  height: 1rem;
  width: 0.6rem;
  background-color: white;
  clip-path: polygon(71% 0, 100% 0, 34% 52%, 100% 100%, 67% 100%, 0 53%);
  margin-left: 0.2rem;
  position: absolute;
  left: o;
  top: 48%;
}
.o{
  height: 100%;
}
.o img{
  aspect-ratio: 1/1;
  width: 2.6rem;
  border-radius: 50%;
  outline: 2.5px solid white;
}
.b{
  margin-left: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oo{
  margin-left: 0.4rem;
}
.c{
  width: 3rem;
  height: 50%;
  position: absolute;
  top: 45%;
  right: 0;
}
.l{
  width: 100%;
  height: 20.333%;
  background-color: rgb(255, 255, 255);
  clip-path: circle(4.4% at 50% 50%);
}
.hj{
  width: 100%;
  height: auto;
  position: relative;
  padding: 0.5rem;
}
.d{
  width: 75%;
  padding: 0.5rem;
  background-color: #EDE5F4;
  border-radius: 8px 8px 8px 2px;
}
.f{
  width: 75%;
  padding: 0.5rem;
  background-color: #EDE5F4;
  border-radius: 8px 8px 8px 2px;
  margin-top: 0.5rem;
}
.h{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.h img{
  width: 2.8rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}
.s{
  width: 75%;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 8px 8px 2px 8px;
  margin-top: 0.5rem;
  box-shadow: 0 10px 24px hsl(0deg 0% 0% / 5%), 0 20px 48px hsl(0deg 0% 0% / 5%), 0 1px 4px hsl(0deg 0% 0% / 10%);
  transform: translateX(34%);
}
.x{
  width: 75%;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 8px 8px 2px 8px;
  margin-top: 0.5rem;
  box-shadow: 0 10px 24px hsl(0deg 0% 0% / 5%), 0 20px 48px hsl(0deg 0% 0% / 5%), 0 1px 4px hsl(0deg 0% 0% / 10%);
  transform: translateX(34%);
}
.z{
  width: 75%;
  padding: 0.5rem;
  background-color: #EDE5F4;
  border-radius: 8px 8px 8px 2px;
  margin-top: 0.5rem;
}
.v{
  color: #ae73db;
}
.x,.s{
  color: hsl(270, 7%, 64%);
}
.e,.n{
  width: 75%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EDE5F4;
  border-radius: 8px 8px 8px 2px;
  margin-top: 0.5rem;
  background: linear-gradient(to right top,#dd43ff,#d642ff,#c23fff,#a43dff,#8c3cfd);
}
.dh{
  color: whitesmoke;
}
.ph{
  color: #ececec;
  font-weight: 700;
  font-size: 1.8rem;
}
.w{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #d076e4;
  outline-offset: 5px;
  outline: 1px solid #dab0e3;
}
.m{
  width: 100%;
  padding: 0.5rem;
  background-color: #EDE5F4;
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fg{
  color: hsl(270, 7%, 64%);;
}
.nm{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #3f2754;
  display: grid;
  place-items: center;
}
.klv{
  width: 35%;
  height: 40%;
  background-color: #fafafa;
  clip-path: polygon(0 0, 42% 0, 99% 52%, 45% 100%, 0 100%, 59% 50%);
}
@media screen and (max-width:900px) and (min-width:400px){
  .container{
    grid-column-gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "one" "two";
    padding: 1rem 0 0 0;
  }
  .inner{
    width: 80%;
  }
  .one{
    width: 100%;
  }
  .ol{
    width: 100%;
  }
  .mob{
    width: 75%;
  }
  .two{
    width: 100%;
    padding: 50rem 0 2.5rem;
  }
  .inner{
    width: 100%;
    padding: 0 2rem;
  }
  .svg{
    height: 30%;
  }
}
@media screen and (max-width:400px){
  .container{
    height: auto;
    grid-column-gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
    "one" 
    "two";
    padding: 1rem 0 0 0;
  }
  .ol{
    width: 100%;
  }
  .mob{
    width: 90%;
  }
  .b{
    margin-left: 2rem;
  }
  .svg{
    width: 75%;
    height: 30%;
  }
  .inner{
    padding: 52rem 1rem 1rem;
    width: 100%;
  }
  .e,.n{
    width: 90%;
  }
}